.navbar-inverse .navbar-inner {
    background-color: darkblue;
/*    opacity:0.5;*/
    background-image: none;
/*    background-repeat: repeat-x;*/
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
   box-shadow:none !important;
}
.brand {
    color: #fff !important;
    text-shadow:none !important;   
}
.brand:hover {
    color: #fff !important;
}
.well {
    background-color: #fff !important;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
}
.span2 {
   width:180px !important;
   padding-right:10px !important;
   height:0px !important;
}
.span10 {
   width:100%;
   margin-top:-30px !important;
   margin-left:190px !important;
}
.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    top:150px;
        /*    bottom: 150px;*/
    height:90px;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
}
