;;テーブル設定
[TABLE]
;; 表示名
DISPLAYNAME = "内線"

;; TABLENAME
;; sqlのキーワードと競合するテーブル名の時は`でくるんでください。"`group`"
TABLENAME = "extension"


;; COLUMN is set like following. json
;; 値の中は""くるみで\"でエスケープしてください。
;;COLUMNS = '
;;{
;;"c0" : { <= "c0"は数値NGです。特に内部では使わないのでc0から順にインクリメントしてください。
;;    "name" : "ext_id" , <= カラム名です。
;;    "display":"内線ID", <= カラム表示名です。htmlが利用可能。
;;    "validation":".*",  <= この正規表現であることが保証されます。\dなど使うときは\\dとしてエスケープしてください
;;    "validation_str":"数値のみ", <= validationのエラー表示です。htmlが利用可能。
;;    "select" : "yes", <= 入力をtextとするか、selectとするかです。'yes' or 'no'です。
;;    ;; select = "yes"とした時の選択肢です。
;;    データはhtmlの表示をdisplay,valueをvalueにしたHASHを配列形式で記述します。
;;    NULLは<NULL>とする
;;    "selects" : [{"display":"0120","value":"0120"},{"display":"0800","value":"0800"},{"display":"0570","value":"0570"},{"display":"空白","value":"<NULL>"}],
;;    "help":"内線IDです" <= カラムの説明です。ツールチップで使われます htmlはエスケープされます。
;;},
;;"c1" : {
;;    "name" : "ext_number" ,
;;    "display":"内線番号",
;;    "validation":".*",
;;    "validation_str":"数値のみ",
;;    "select" : "no",
;;    "help":"内線番号です"
;;}
;;}'
COLUMNS = '
{
"c0" : {
    "name" : "ext_number" ,
    "display":"内線番号",
    "validation":"\\d+",
    "validationstr":"数値のみ",
    "select" : "yes",
    "selects" : [{"display":"0120","value":"0120"},{"display":"0800","value":"0800"},{"display":"0570","value":"0570"},{"display":"空白","value":"<NULL>"}],    
    "help":"内線番号です"
},
"c1" : {
    "name" : "ext_id" ,
    "display":"内線ID",
    "validation":"\\d+",
    "validationstr":"数値のみ",
    "select" : "no",
    "help":"内線IDです"
}
}'
;; primary key for update,delete
PRIMARYKEY = 'ext_id'

;; update機能は有効か？ OK or NG
UPDATEOK = "OK"
INSERTOK = "OK"
DELETEOK = "OK"
